version: '3.8'
services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: marketplace
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false 
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m" 
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
  
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://user:password@postgres:5432/marketplace
      - REDIS_HOST=redis
      - ELASTICSEARCH_NODE=http://elasticsearch:9200
      - JWT_SECRET=f0a850d6c9965f8ae74a1ca895c738d0
      - PORT=3000
    depends_on:
      - postgres
      - redis
      - elasticsearch

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:3000"
    environment:
      - PORT=3000
      - ORIGIN=http://localhost:5173
      - PUBLIC_API_URL=http://localhost:3000
    depends_on:
      - backend


volumes:
  postgres_data:
  elasticsearch_data: